
body {
    background-color: #d6e0d6;
  }
  
  
  [data-role="header"] {
    background-color: #09a8e7;
    color: #fff;
    text-align: center;
    padding: 50px;
  }

  [data-role="navbar"] {
    background-color: #53a10b;
    color: #fff;
    text-align: center;
  }
  

  [data-role="navbar"] a {
    color: #fff;
  }
  
  
  [data-role="navbar"] .ui-btn-active {
    background-color: #0cb0a5;
  }
  

  [data-role="content"] {
    background-color: #fff;
    padding: 150px;
  }
  

  [data-role="footer"] {
    background-color: #c41313;
    color: #110f0f;
    text-align: center;
    padding: 20px;
  }